<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Merchants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


<style>

body {
    background-color: blanchedalmond;
}


h1 {
  font-size: 45px;
  color: midnightblue;
  text-indent: 50px;
}


table {  
  border: 3px solid;
  border-color: green;
  border-collapse: collapse;
  width: 100%;
 } 


th {
  text-align: center;
  font-size: 20px;
}

td {
  font-size: 18px;
}


th, td {
  padding: 15px;
}

</style>

 </head>



<body>
  <h1>Admin Menu</h1>
  <nav>
<ul>
<li><a href="https://newsilver.herokuapp.com/admin/merchants">Merchants</a></li>
<li><a href="https://newsilver.herokuapp.com/admin/appointments">Appointment</a></li>
<li><a href="https://newsilver.herokuapp.com/logout">Logout</a></li>

</ul>
</nav>

 
  
 
 
  </body>

</html>