<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Appointment Form</h2> 
    <form action="/appointment" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value=<%= user_name %> />
        <br>
        <label for="birthday">Date:</label>
        <input type="date" id="birthday" name="date">
        <br>
        <label for="birthday">Time:</label>
        <input type="text" id="time" name="time">
        <input type="text" value="<%= user_id%>" name="id" hidden/>
        <p style="color: greenyellow;"><%=message %></p>
        <input type="submit">
        <br>
    
        <textarea placeholder="Comment"></textarea>
      </form>

</body>
</html>