<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <h2>Appointment Form</h2> 
    <form action="https://newsilver.herokuapp.com/appointment" method="post">
    
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value=<%= user_name %> />
        <br>
        <label for="birthday">Date:</label>
        <input type="date" id="birthday" name="date">
        <br>
        <label for="birthday">Time:</label>
        <!-- <input type="text" id="time" name="time"> -->
        <select name="time">
            <option value="9am">9am</option>
            <option value="10am">10am</option>
            <option value="11am">11am</option>
            <option value="12am">12pm</option>
            <option value="1pm">1pm</option>
            <option value="2pm">2pm</option>
            <option value="3pm">3pm</option>
        </select>
        <input type="text" value="<%= user_id%>" name="id" hidden/>
        
       
        <br>
    
        <textarea placeholder="Comment" name="comment"></textarea>
        <p style="color: greenyellow;"><%= message ? message : "" %></p>
        <input type="submit">
      </form>

</body>
</html>