<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


<style>

h1 {
  font-size: 35px;
  color: darkcyan;
  text-align: center;
}

input[type=text], select {
  width: 15%;
  padding: 12px 10px;
  margin-left: 7%;
  margin-right:7%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 15%;
  padding: 12px 10px;
  margin-left: 7%;
  margin-right:7%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  font-size: 16px;
  background-color: #FF8C00;
  color: black;
  padding: 10px 5px;
  margin-left: 10%;
  margin-right:10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFA500;
}

form {
  margin-top: 120px;
  margin-left: 35%;
  margin-right:35%;
  width: auto;
}

</style> 

</head>


<body>

  <h1>Tea Leaves Shop Login Form</h1>

  <form id="form" action="login" method="post">

  <input type="text" name="username" placeholder="Enter Username" /><br>
  <input type="password" name="password" placeholder="Enter Password" /><br> <br> <br>
  <input type="submit" name="Login" value="Login"/>

  </form> 

</body>

</html>